---
layout: archive
title: "Learning Notes"
permalink: /learning/
author_profile: true
collection: learning
---

<div style="display: flex; align-items: center; gap: 20px;">
  <div class="wordwrap" style="flex: 1;">
    Here I post some notes that I take throughout courses, videos, books, etc. You can view the full document on 
    <a href="https://docs.google.com/document/d/1lASplfzaTMxlsP-roocP5-yojoNzPH--6TuzjNNItkw/edit?usp=sharing" target="_blank" rel="noopener noreferrer">
      this Google Docs link
    </a>.
  </div>

  <div style="flex-shrink: 0;">
    <img src="{{ '/images/regular_show_hacker.gif' | relative_url }}" style="max-width: 150px; height: auto;" />
  </div>
</div>

<br />

{% include base_path %}

{% for post in site.learning reversed %}
  {% include archive-single.html %}
{% endfor %}
