{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="project-card">
  {% if include.type == "grid" and teaser %}
    <div class="project-image">
      <img src=
        {% if teaser contains "://" %}
          "{{ teaser }}"
        {% else %}
          "{{ teaser | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="">
    </div>
  {% endif %}

  <!-- Project Header (blue background) -->
  <div class="project-header">
    <h2>
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a>
        <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link"></i></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>

    {% if post.excerpt %}
      <p class="project-description">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
    {% endif %}
  </div>

  <!-- Project Body (dark background) -->
  <div class="project-body">
    {% if post.date %}
      <p class="page__date">
        <strong>Published:</strong>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
      </p>
    {% endif %}

    {% if post.collection == 'portfolio' and post.githuburl %}
      <p><a href="{{ post.githuburl }}" target="_blank">View on GitHub</a></p>
    {% endif %}
  </div>
</div>

